.container {
  max-width: 600px;
  margin: 0 auto; 
  margin-top: 10px;
}
header {
  height: 50px;
  width: 100%;
  background-color: gray;
  color: white;
}
header h1 {
  padding-top: 5px;
  padding-left: 20px;
}
svg {
  border: 1px solid black;
}